* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

::selection {
  background: rgba(26, 188, 156, 0.3);
}
.login-container {
  max-width: 440px;
  padding: 0 20px;
  margin: 150px auto;
}
.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .title {
    height: 90px;
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    color: #151515;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    padding: 10px 25px 34px 25px;
    .row {
      height: 56px;
      margin-bottom: 15px;
      position: relative;
      input {
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 20px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        font-size: 16px;
        transition: all 0.3s ease;
      }
      i {
        position: absolute;
        width: 47px;
        height: 100%;
        color: #fff;
        font-size: 18px;
        background: #16a085;
        border: 1px solid #16a085;
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .pass {
      margin: 4px 4px 23px 4px;
      a {
        color: #16a085;
        font-size: 17px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .back {
      text-align: center;
      margin-top: 20px;
      cursor: pointer;
    }
    .button {
      input {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding-left: 0px;
        background: #242526;
        border: 1px solid #141414;
        cursor: pointer;
      }
    }
    .signup-link {
      text-align: center;
      margin-top: 25px;
      padding-right: 20px;
      a {
        color: #16a085;
        text-decoration: none;
      }
    }
  }
}
.title_para {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 22px;
  color: #7e7e7e;
}
.form {
  .row {
    input {
      &:focus {
        border-color: #16a085;
        box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
      }
      &::placeholder {
        color: #999;
      }
    }
  }
  .button {
    input {
      &:hover {
        background: #090909;
      }
    }
  }
  .signup-link {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
